n8n/barbabrutal-1-confirmacao-agendamento.json
{
  "name": "Barbearia Brutal — Confirmação de agendamento (WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "a-cada-1-min",
      "name": "A cada 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "ultimoId",
        "key": "bb:marcao:ultimo_agendamento",
        "keyType": "string",
        "options": {}
      },
      "id": "ler-último-id-(redis)",
      "name": "Ler último id (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "credentials": {
        "redis": {
          "id": "bb-redis",
          "name": "Redis Barbearia Brutal"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id,\n  to_char(a.data AT TIME ZONE 'America/Sao_Paulo', 'DD/MM/YYYY') AS data_br,\n  to_char(a.data AT TIME ZONE 'America/Sao_Paulo', 'HH24:MI')    AS hora_br,\n  cli.nome AS cliente_nome, cli.telefone AS cliente_tel,\n  p.nome   AS barbeiro_nome, bu.telefone AS barbeiro_tel,\n  t.nome   AS barbearia,\n  COALESCE(string_agg(DISTINCT s.nome, ', '), 'Serviço') AS servicos\nFROM agendamento a\nJOIN usuario cli        ON cli.id = a.\"usuarioId\"\nJOIN profissional p     ON p.id  = a.\"profissionalId\"\nLEFT JOIN usuario bu    ON bu.id = p.\"usuarioId\"\nJOIN tenant t           ON t.id  = a.\"tenantId\"\nLEFT JOIN \"_AgendamentoToServico\" ags ON ags.\"A\" = a.id\nLEFT JOIN servico s     ON s.id  = ags.\"B\"\nWHERE a.\"tenantId\" = 1\n  AND a.id > {{ $json.ultimoId || 0 }}\n  AND a.\"createdAt\" >= now() - interval '1 hour'\n  AND a.status IN ('agendado','confirmado')\nGROUP BY a.id, a.data, cli.nome, cli.telefone, p.nome, bu.telefone, t.nome\nORDER BY a.id ASC",
        "options": {}
      },
      "id": "buscar-novos-agendamentos",
      "name": "Buscar novos agendamentos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "bb-postgres",
          "name": "Postgres Barbearia Brutal"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "bb:marcao:ultimo_agendamento",
        "keyType": "string",
        "value": "={{ Math.max(0, ...$items('Buscar novos agendamentos').map(i => i.json.id)) }}",
        "expire": false,
        "valueIsJSON": false,
        "options": {}
      },
      "id": "salvar-último-id-(redis)",
      "name": "Salvar último id (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "credentials": {
        "redis": {
          "id": "bb-redis",
          "name": "Redis Barbearia Brutal"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Monta 1 mensagem para o cliente e 1 para o barbeiro por agendamento novo.\nconst norm = (t) => {\n  let n = String(t || '').replace(/\\D/g, '');\n  if (!n) return '';\n  if (!n.startsWith('55')) n = '55' + n;   // garante DDI Brasil\n  return n;\n};\nconst saida = [];\nfor (const item of $input.all()) {\n  const a = item.json;\n  const cliente = norm(a.cliente_tel);\n  const barbeiro = norm(a.barbeiro_tel);\n  if (cliente) {\n    saida.push({ json: { numero: cliente, tipo: 'cliente', mensagem:\n      `✅ *Agendamento confirmado!*\\n\\n` +\n      `Olá, ${a.cliente_nome}! Seu horário na *${a.barbearia}* está marcado:\\n\\n` +\n      `✂️ Serviços: ${a.servicos}\\n` +\n      `👤 Profissional: ${a.barbeiro_nome}\\n` +\n      `📅 Data: ${a.data_br}\\n` +\n      `🕐 Horário: ${a.hora_br}\\n\\n` +\n      `Qualquer imprevisto, é só chamar por aqui. Até logo! 🪒` } });\n  }\n  if (barbeiro) {\n    saida.push({ json: { numero: barbeiro, tipo: 'barbeiro', mensagem:\n      `📅 *Novo agendamento!*\\n\\n` +\n      `${a.barbeiro_nome}, você tem um novo horário na *${a.barbearia}*:\\n\\n` +\n      `👤 Cliente: ${a.cliente_nome}\\n` +\n      `✂️ Serviços: ${a.servicos}\\n` +\n      `📅 Data: ${a.data_br}\\n` +\n      `🕐 Horário: ${a.hora_br}` } });\n  }\n}\nreturn saida;\n"
      },
      "id": "montar-mensagens",
      "name": "Montar mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_APIKEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $json.numero, \"text\": $json.mensagem } }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1200
            }
          }
        }
      },
      "id": "enviar-whatsapp-(evolution)",
      "name": "Enviar WhatsApp (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        420
      ]
    }
  ],
  "connections": {
    "A cada 1 min": {
      "main": [
        [
          {
            "node": "Ler último id (Redis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler último id (Redis)": {
      "main": [
        [
          {
            "node": "Buscar novos agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar novos agendamentos": {
      "main": [
        [
          {
            "node": "Salvar último id (Redis)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Montar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar mensagens": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [
    {
      "name": "barbearia-brutal"
    }
  ]
}